html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    background: #121212;
    color: #fff;
    background-image: url('/Images/Neon.jpg');
    background-size: cover;
    background-position: center;
}

.par {
    color: white;
    font-size: 25px;
    font-weight: bold;
    text-align:left;
}

main {
    flex: 1;
}

h1 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 32px;
    color: cyan;
    text-shadow: 0 0 18px #fff;
}

.options {
    display: flex;
    gap: 24px;
    width: 90%;
    max-width: 900px;
    margin: 40px auto;
}

.option {
    flex: 1;
    min-height: 250px;
    padding: 10px;
    background: #1a1a2a;
    text-align: center;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#optionA {
    border: 1px solid #22d3ee;
    color: #a5f3fc;
    background-color: darkcyan;
    box-shadow: 0 0 18px #fff;
}

#optionB {
    border: 1px solid #e879f9;
    color: #f5d0fe;
    background-color: darkmagenta;
    box-shadow: 0 0 18px #fff;
}

.or-label {
    align-self: center;
    font-weight: bold;
    font-size: 18px;
}

.next-btn {
    display: block;
    margin: 20px auto 0;
    padding: 12px 32px;
    font-size: 16px;
    font-weight: bold;
    background-color: white;
    border: 2px solid #fff;
    cursor: pointer;
    box-shadow: 0 0 18px #fff;
}
    .next-btn:hover {
        background-color: lightcyan;
    }

.navbar-nav {
    display: flex;
    gap: 40px;
}

.navbar {
    display: block;
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid cyan;
    cursor: pointer;
}

.nav-link {
    font-size: 20px;
    font-weight: bold;
    color: black !important;
    padding: 8px 10px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 0 18px #fff;
}
    .nav-link:hover {
        background-color: lightcyan;
    }

footer {
    background-color: cyan;
    font-weight: bold;

}

.container {
    flex: 1;
    text-align: center;
}
